.u-section-1 {
  background-image: url("images/194295432-0.jpeg");
  min-height: 733px;
}

.u-section-1 .u-group-1 {
  width: 690px;
  min-height: 461px;
  margin: 136px auto 0 calc(((100% - 1140px) / 2));
}

.u-section-1 .u-container-layout-1 {
  padding-left: 56px;
  padding-right: 20px;
  padding-top: 0;
}

.u-section-1 .u-text-1 {
  font-size: 4.5rem;
  margin: 78px 0 0;
}

.u-section-1 .u-text-2 {
  font-size: 1.5rem;
  margin: 20px 0 0;
}

.u-section-1 .u-image-1 {
  width: 491px;
  height: 473px;
  margin: -376px 0 39px auto;
}

@media (max-width: 1199px) {
  .u-section-1 {
    min-height: 604px;
  }

  .u-section-1 .u-group-1 {
    margin-left: calc(((100% - 940px) / 2));
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 46px;
    padding-right: 16px;
  }

  .u-section-1 .u-text-2 {
    font-size: 1.25rem;
  }

  .u-section-1 .u-image-1 {
    width: 382px;
    height: 420px;
    margin-top: -323px;
  }
}

@media (max-width: 991px) {
  .u-section-1 {
    min-height: 463px;
  }

  .u-section-1 .u-group-1 {
    margin-left: calc(((100% - 720px) / 2));
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 0;
    padding-right: 13px;
  }

  .u-section-1 .u-text-1 {
    margin-top: 40px;
  }

  .u-section-1 .u-text-2 {
    margin-bottom: 40px;
  }
}

@media (max-width: 767px) {
  .u-section-1 {
    min-height: 733px;
  }

  .u-section-1 .u-group-1 {
    width: 540px;
    margin-left: calc(((100% - 540px) / 2));
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 27px;
    padding-right: 9px;
  }

  .u-section-1 .u-text-1 {
    font-size: 3.75rem;
  }

  .u-section-1 .u-image-1 {
    width: 368px;
    object-position: 0% 50%;
  }
}

@media (max-width: 575px) {
  .u-section-1 {
    min-height: 687px;
  }

  .u-section-1 .u-group-1 {
    width: 340px;
    margin-left: calc(((100% - 340px) / 2));
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 13px;
    padding-right: 6px;
  }

  .u-section-1 .u-text-1 {
    font-size: 3rem;
  }

  .u-section-1 .u-text-2 {
    margin-bottom: 0;
  }

  .u-section-1 .u-image-1 {
    width: 194px;
    height: 252px;
    margin-top: -202px;
    margin-bottom: 40px;
  }
}.u-section-2 {
  background-image: none;
}

.u-section-2 .u-sheet-1 {
  min-height: 610px;
}

.u-section-2 .u-group-1 {
  width: 554px;
  min-height: 548px;
  animation-duration: 1000ms;
  margin: 45px auto 0 0;
}

.u-section-2 .u-container-layout-1 {
  padding-left: 20px;
  padding-right: 0;
}

.u-section-2 .u-text-1 {
  text-transform: uppercase;
  font-weight: 600;
  margin: 12px 20px 0 0;
}

.u-section-2 .u-line-1 {
  width: 427px;
  height: 16px;
  transform-origin: left center 0px;
  margin: 63px auto 0 0;
}

.u-section-2 .u-text-2 {
  font-weight: bold;
  font-size: 3.75rem;
  margin: -66px 20px 0 0;
}

.u-section-2 .u-text-3 {
  margin: 50px 20px 0 0;
}

.u-section-2 .u-btn-1 {
  border-style: none;
  font-weight: 700;
  font-size: 0.875rem;
  text-transform: uppercase;
  margin: 13px 60px 0 auto;
  padding: 0;
}

.u-section-2 .u-image-1 {
  width: 666px;
  height: 429px;
  animation-duration: 1000ms;
  margin: -457px -65px 60px auto;
}

@media (max-width: 1199px) {
  .u-section-2 .u-container-layout-1 {
    padding-left: 16px;
    padding-right: 16px;
  }

  .u-section-2 .u-line-1 {
    width: 474px;
    margin-right: 72px;
  }

  .u-section-2 .u-text-2 {
    position: relative;
    font-weight: 700;
  }

  .u-section-2 .u-image-1 {
    width: 436px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-container-layout-1 {
    padding-left: 13px;
    padding-right: 13px;
  }

  .u-section-2 .u-line-1 {
    width: 398px;
    margin-right: 55px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 529px;
  }

  .u-section-2 .u-group-1 {
    width: 540px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 9px;
    padding-right: 9px;
  }

  .u-section-2 .u-text-1 {
    margin-right: 16px;
  }

  .u-section-2 .u-line-1 {
    width: 385px;
    margin-right: auto;
  }

  .u-section-2 .u-text-2 {
    margin-right: 16px;
  }

  .u-section-2 .u-text-3 {
    width: auto;
    margin-top: 16px;
    margin-right: 16px;
  }

  .u-section-2 .u-btn-1 {
    margin-right: 56px;
  }

  .u-section-2 .u-image-1 {
    margin-right: 0;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 400px;
  }

  .u-section-2 .u-group-1 {
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 6px;
    padding-right: 6px;
  }

  .u-section-2 .u-text-1 {
    margin-right: 0;
  }

  .u-section-2 .u-line-1 {
    width: 291px;
    margin-top: 101px;
    margin-right: 37px;
  }

  .u-section-2 .u-text-2 {
    font-size: 3rem;
    margin-top: -62px;
    margin-right: 0;
  }

  .u-section-2 .u-text-3 {
    margin-top: 43px;
    margin-right: 0;
  }

  .u-section-2 .u-btn-1 {
    margin-right: 0;
  }

  .u-section-2 .u-image-1 {
    width: 340px;
    height: 211px;
    margin-right: auto;
    margin-left: 400px;
  }
}.u-section-3 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.15), rgba(0,0,0,0.15)), url("images/7da1e44c4caa8cb95dc356c0510fba511951e51c12bab947d218b66db1be69326d39be77ee927961f5ca968b7683c41d5faf678626095128eda112_1280.jpg");
  background-position: 50% 50%;
}

.u-section-3 .u-sheet-1 {
  min-height: 1009px;
}

.u-section-3 .u-group-1 {
  width: 772px;
  min-height: 143px;
  animation-duration: 1000ms;
  margin: 29px auto 0 0;
}

.u-section-3 .u-container-layout-1 {
  padding-left: 20px;
  padding-right: 20px;
}

.u-section-3 .u-text-1 {
  font-weight: 700;
  font-size: 3.75rem;
  margin: 36px 0 0;
}

.u-section-3 .u-layout-wrap-1 {
  width: 1084px;
  margin: -46px 0 0 auto;
}

.u-section-3 .u-layout-cell-1 {
  min-height: 883px;
  background-image: none;
  animation-duration: 1000ms;
}

.u-section-3 .u-container-layout-2 {
  padding-left: 0;
  padding-top: 0;
  padding-bottom: 0;
}

.u-section-3 .u-text-2 {
  font-size: 1.875rem;
  margin: 147px 83px 0 -38px;
}

.u-section-3 .u-text-3 {
  margin: 16px 98px 0 -38px;
}

.u-section-3 .u-video-1 {
  width: 849px;
  height: 478px;
  margin: -39px auto 0 35px;
}

.u-section-3 .embed-responsive-1 {
  position: absolute;
}

.u-section-3 .u-icon-1 {
  height: 58px;
  width: 58px;
  margin: -808px auto 60px 18px;
}

@media (max-width: 1199px) {
  .u-section-3 {
    background-size: auto 105%;
  }

  .u-section-3 .u-sheet-1 {
    min-height: 772px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 16px;
    padding-right: 16px;
    padding-bottom: 0;
  }

  .u-section-3 .u-layout-wrap-1 {
    width: 940px;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 862px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-right: 25px;
    padding-left: 18px;
  }

  .u-section-3 .u-text-2 {
    width: auto;
    margin-top: 86px;
    margin-right: 7px;
    margin-left: 0;
  }

  .u-section-3 .u-text-3 {
    width: auto;
    margin-top: 9px;
    margin-right: 0;
    margin-left: 7px;
  }

  .u-section-3 .u-video-1 {
    width: 605px;
    height: 328px;
    margin-top: -57px;
    margin-left: 0;
  }

  .u-section-3 .u-icon-1 {
    margin-top: -845px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 986px;
  }

  .u-section-3 .u-group-1 {
    width: 720px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 13px;
    padding-right: 13px;
  }

  .u-section-3 .u-layout-wrap-1 {
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 597px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-left: 19px;
    padding-right: 0;
  }

  .u-section-3 .u-text-2 {
    font-size: 1.5rem;
    margin-right: 0;
  }

  .u-section-3 .u-text-3 {
    margin-left: 0;
  }

  .u-section-3 .u-video-1 {
    width: 596px;
    height: 424px;
    margin-bottom: -149px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 1084px;
  }

  .u-section-3 .u-group-1 {
    width: 540px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 9px;
    padding-right: 9px;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-left: 14px;
  }

  .u-section-3 .u-text-2 {
    font-size: 1.875rem;
  }

  .u-section-3 .u-video-1 {
    width: 530px;
  }

  .u-section-3 .u-icon-1 {
    margin-top: -802px;
    margin-left: 0;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 1262px;
  }

  .u-section-3 .u-group-1 {
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 6px;
    padding-right: 6px;
  }

  .u-section-3 .u-text-1 {
    font-size: 3rem;
  }

  .u-section-3 .u-container-layout-2 {
    padding-left: 9px;
    padding-right: 9px;
  }

  .u-section-3 .u-video-1 {
    width: 330px;
  }

  .u-section-3 .u-icon-1 {
    margin-top: -851px;
    margin-right: 9px;
    margin-left: auto;
  }
}.u-section-4 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.55), rgba(0,0,0,0.55)), url("images/82b14419f9a23d6071a2dc95a7e46b68db6ed101ff4f0301621325a1a47ed46de05d9364e17407b5e4cff047304c628c644d03780f9bb78c8ee82b_1280.jpg");
  background-position: 50% 50%;
}

.u-section-4 .u-sheet-1 {
  min-height: 636px;
}

.u-section-4 .u-layout-wrap-1 {
  margin: 60px auto 60px 0;
}

.u-section-4 .u-layout-cell-1 {
  min-height: 767px;
}

.u-section-4 .u-container-layout-1 {
  padding: 30px 30px 27px;
}

.u-section-4 .u-image-1 {
  width: 422px;
  height: 682px;
  object-position: 19.91% 100%;
  animation-duration: 1000ms;
  margin: 0 auto;
}

.u-section-4 .u-layout-cell-2 {
  min-height: 767px;
}

.u-section-4 .u-container-layout-2 {
  padding: 30px 0 30px 60px;
}

.u-section-4 .u-text-1 {
  font-size: 2.25rem;
  line-height: 39.6px;
  text-transform: none;
  font-weight: 400;
  animation-duration: 1000ms;
  margin: 127px 0 0;
}

.u-section-4 .u-text-2 {
  animation-duration: 1000ms;
  margin: 11px 60px 0 0;
}

@media (max-width: 1199px) {
  .u-section-4 .u-sheet-1 {
    min-height: 545px;
  }

  .u-section-4 .u-layout-wrap-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-4 .u-layout-cell-1 {
    background-position: 50% 50%;
    min-height: 632px;
  }

  .u-section-4 .u-image-1 {
    width: 410px;
    height: 663px;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 632px;
  }

  .u-section-4 .u-text-2 {
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-sheet-1 {
    min-height: 949px;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 968px;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-4 .u-container-layout-2 {
    padding-left: 30px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-sheet-1 {
    min-height: 817px;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 726px;
  }

  .u-section-4 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-container-layout-2 {
    padding-left: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-sheet-1 {
    min-height: 670px;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 457px;
  }

  .u-section-4 .u-image-1 {
    width: 320px;
    height: 517px;
  }

  .u-section-4 .u-text-1 {
    font-size: 1.5rem;
  }
}.u-section-5 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.55), rgba(0,0,0,0.55)), url("images/a5155271310cc9ce226d212a7c260702.jpeg");
  background-position: 50% 50%;
}

.u-section-5 .u-sheet-1 {
  min-height: 100vh;
}

.u-section-5 .u-layout-wrap-1 {
  margin-top: 46px;
  margin-bottom: 8px;
}

.u-section-5 .u-layout-cell-1 {
  min-height: 963px;
}

.u-section-5 .u-container-layout-1 {
  padding: 30px 0 19px 40px;
}

.u-section-5 .u-group-1 {
  width: 1048px;
  min-height: 204px;
  margin: 0 21px 0 31px;
}

.u-section-5 .u-text-1 {
  font-size: 2.25rem;
  line-height: 39.6px;
  text-transform: none;
  font-weight: 400;
  animation-duration: 1000ms;
  margin: 0 648px 0 0;
}

.u-section-5 .u-text-2 {
  animation-duration: 1000ms;
  margin: 11px 0 0;
}

.u-section-5 .u-image-1 {
  width: 1092px;
  height: 623px;
  animation-duration: 1000ms;
  margin: 31px 8px 0 auto;
}

@media (max-width: 1199px) {
  .u-section-5 .u-sheet-1 {
    min-height: 545px;
  }

  .u-section-5 .u-layout-cell-1 {
    min-height: 794px;
  }

  .u-section-5 .u-group-1 {
    width: 900px;
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-5 .u-text-1 {
    margin-right: 500px;
  }

  .u-section-5 .u-image-1 {
    width: 900px;
    height: 513px;
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-5 .u-sheet-1 {
    min-height: 949px;
  }

  .u-section-5 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-5 .u-container-layout-1 {
    padding-left: 30px;
  }

  .u-section-5 .u-group-1 {
    width: 690px;
  }

  .u-section-5 .u-text-1 {
    margin-right: 290px;
  }

  .u-section-5 .u-image-1 {
    width: 690px;
    height: 393px;
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-sheet-1 {
    min-height: 817px;
  }

  .u-section-5 .u-container-layout-1 {
    padding-left: 10px;
  }

  .u-section-5 .u-group-1 {
    width: 530px;
  }

  .u-section-5 .u-text-1 {
    margin-right: 130px;
  }

  .u-section-5 .u-image-1 {
    width: 530px;
    height: 302px;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-sheet-1 {
    min-height: 670px;
  }

  .u-section-5 .u-group-1 {
    width: 330px;
  }

  .u-section-5 .u-text-1 {
    margin-right: 0;
  }

  .u-section-5 .u-image-1 {
    width: 330px;
    height: 188px;
  }
}.u-section-6 {
  background-image: none;
}

.u-section-6 .u-sheet-1 {
  min-height: 398px;
}

.u-section-6 .u-layout-wrap-1 {
  margin-top: 80px;
  margin-bottom: 0;
}

.u-section-6 .u-layout-cell-1 {
  min-height: 318px;
}

.u-section-6 .u-container-layout-1 {
  padding: 0 30px;
}

.u-section-6 .u-image-1 {
  width: 300px;
  height: 300px;
  background-image: url("images/14.png");
  background-position: 50% 0%;
  margin: -30px auto 0;
}

.u-section-6 .u-layout-cell-2 {
  min-height: 318px;
}

.u-section-6 .u-container-layout-2 {
  padding: 30px 30px 147px;
}

.u-section-6 .u-text-1 {
  margin: 23px 0 0;
}

.u-section-6 .u-text-2 {
  margin-left: 0;
  margin-right: 0;
  margin-bottom: 0;
}

@media (max-width: 1199px) {
  .u-section-6 .u-sheet-1 {
    min-height: 26px;
  }

  .u-section-6 .u-layout-cell-1 {
    min-height: 262px;
  }

  .u-section-6 .u-layout-cell-2 {
    min-height: 262px;
  }
}

@media (max-width: 991px) {
  .u-section-6 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-6 .u-image-1 {
    width: 216px;
    height: 216px;
  }

  .u-section-6 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-6 .u-container-layout-2 {
    padding-bottom: 30px;
  }
}

@media (max-width: 767px) {
  .u-section-6 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-6 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }
}