.u-section-1 {
  background-image: url("images/55ae1de394086ad13fcffa3e09674823.jpeg");
  background-position: 50% 50%;
}

.u-section-1 .u-sheet-1 {
  min-height: 706px;
}

.u-section-1 .u-custom-html-1 {
  min-height: 581px;
  height: auto;
  margin: 51px 485px 0 54px;
}

.u-section-1 .u-custom-html-2 {
  width: 570px;
  min-height: 228px;
  margin: 30px auto 60px 20px;
}

.u-section-1 .u-custom-html-3 {
  width: 570px;
  min-height: 228px;
  margin: 30px auto 60px 20px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 582px;
  }

  .u-section-1 .u-custom-html-1 {
    margin: 64px 376px 47px -37px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 657px;
  }

  .u-section-1 .u-custom-html-1 {
    margin: 69px 125px 42px -24px;
  }

  .u-section-1 .u-custom-html-2 {
    min-height: 537px;
    height: auto;
    margin-top: 50px;
    margin-right: 60px;
    margin-left: 90px;
    width: auto;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 627px;
  }

  .u-section-1 .u-custom-html-1 {
    margin-left: -37px;
    margin-right: 176px;
  }

  .u-section-1 .u-custom-html-2 {
    margin: 45px -12px 45px 12px;
  }

  .u-section-1 .u-custom-html-3 {
    width: 540px;
    margin-left: 0;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-custom-html-1 {
    min-height: 537px;
    margin-right: -409px;
    margin-left: -50px;
  }

  .u-section-1 .u-custom-html-2 {
    margin-right: 50px;
    margin-left: -50px;
    width: 340px;
  }

  .u-section-1 .u-custom-html-3 {
    min-height: 537px;
    height: auto;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }
}